<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
        <div class="col-md-12">
          <% include ./partials/messages %>
        </div>
        <div class="col-md-12">
          <h3 class="leagueTitleHeader">Magic Mike Day 3</h3>
        </div>
      <div class="col-4">
        <img src="/logos/agtlogo2019.png" alt="cá bhfuil sé?" style=" width: 100%;margin-left:auto; margin-right: auto; display: block;" >
      </div>
      <div class="col-4" >
        <img src="/logos/pgatourlogo.png" alt="cá bhfuil sé?"  style="width: 100%; margin-left:auto; margin-right: auto; display: block;"    >
      </div>
      <div class="col-4">
        <img src="/logos/eurotourlogo.png" alt="cá bhfuil sé?"  style="width: 100%;margin-left:auto; margin-right: auto; display: block;"  >
      </div>
    </div>
    <div id="championshipTable" class="table-responsive">
      <table class="table table-striped">
        <thead class="hideOnSmall">
          <tr style="text-align:center">
            <th scope="col">Pos.</th> 
            <th scope="col">Player</th>
            <th class="hideOnMobile"  scope="col">Strokes</th>
            <th scope="col">Points(B)</th>
            <th scope="col">Total</th>
            <th class="hideOnMobile" scope="col">Through</th>
          </tr>
        </thead>
        <tbody id="leagueTableBody">
        </tbody>
      </table>
    </div>
    <form action="/profiles">
      <button type="submit" style="margin-top:15px;" class="btn btn-primary" >View Profiles</button>  
    </form>
    <form action="/standings/parthrees" action="GET">
      <button type="submit" style="margin-top:15px;" class="btn btn-primary" >Mini Mike Standings</button>  
    </form>
  </div>
  <div class="col-md-1"></div>
</div>  
  <script>
    $(document).ready(function(){  
      GetChampionshipSundayTable();
});

function GetChampionshipSundayTable (){ 
        $.ajax({
      url: "/api/AGTGolfLads/championshipSunday",
      success: function( result ) {
        populateLeagueTable(result);
      },
      error: function (err) {
      }
    });
  }

  

function populateLeagueTable(tableData) {
  $('#leagueTable').empty();
    for (var indx in tableData) {
      $('#leagueTableBody').append('<tr>');
      $('#leagueTableBody').append('<th scope="row" style="text-align:center"><b>' + tableData[indx].Position + '</b></th>');
      $('#leagueTableBody').append('<td><a href=/profiles/profile/' + tableData[indx].PlayerID + '>'  + tableData[indx].PlayerName + '</a></td>');
      $('#leagueTableBody').append('<td style="text-align:center" class="hideOnMobile"><b>' + tableData[indx].StrokesPlayed + '</b></td>');
      $('#leagueTableBody').append('<td style="text-align:center" >' + tableData[indx].StablefordPoints + '(+' + tableData[indx].BonusPoints  + ')</td>');
      $('#leagueTableBody').append('<td style="text-align:center">' + tableData[indx].TotalPoints + '</td>');
      $('#leagueTableBody').append('<td style="text-align:center" class="hideOnMobile">' + tableData[indx].HolesPlayed + '</td>');
      $('#leagueTableBody').append('</tr>');
    }
}
  </script>