<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.username %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<button onclick="DoACall()" class="btn btn-secondary">Click Me!</a>
<div>
  <canvas id="canvas"></canvas>
</div>
<script>

   function DoACall(){ 
  //   var api_url = 'http://localhost:5000/';

  //   alert('im doing a call to http://localhost:5000/');
  //   $.ajax({
  //       url: api_url + "api/users/",
  //       type: 'GET',
  //       headers: { 'Authorization':'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZDVkOWM3ZDk4MWFmZDA3NTg0NjU3MDIiLCJpYXQiOjE1NjY5NDExMTB9.VuyHTroScprGPI-DdbhC3zFwAJ8Xud_xLBcct4hYwK8'},
  //       contentType: "application/json",
  //       dataType: 'json',
  //       success: function(result){
  //           alert(result);
  //       },
  //       error: function(error){
  //         alert(error);
  //       }
  //   });
    
   };
  


</script>