<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
        <div class="col-md-12">
          <% include ./partials/messages %>
        </div>
        <div class="col-md-12">
          <h3 class="leagueTitleHeader">Race to Magic Mike</h3>
        </div>
      <div class="col-4">
        <img src="/logos/agtlogo2019.png" alt="cá bhfuil sé?" style=" width: 100%;margin-left:auto; margin-right: auto; display: block;" >
      </div>
      <div class="col-4" >
        <img src="/logos/pgatourlogo.png" alt="cá bhfuil sé?"  style="width: 100%; margin-left:auto; margin-right: auto; display: block;"    >
      </div>
      <div class="col-4">
        <img src="/logos/eurotourlogo.png" alt="cá bhfuil sé?"  style="width: 100%;margin-left:auto; margin-right: auto; display: block;"  >
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="hideOnSmall">
          <tr style="text-align:center">
            <th scope="col">Pos.</th> 
            <th scope="col">Player</th>
            <th scope="col">R1</th>
            <th scope="col">R2</th>
            <th class="hideOnMobile" scope="col">Total Strokes</th>
            <th scope="col">Total Points</th>
            <th class="hideOnMobile" scope="col">Through</th>
          </tr>
        </thead>
        <tbody id="leagueTableBody">
        </tbody>
      </table>
    </div>
    <form style="margin: 8px;" action="/profiles">
      <button type="submit" class="btn btn-primary" >View Profiles</button>  
    </form>
    <form style="margin: 8px;" action="/standings/parthrees" action="GET">
      <button type="submit" class="btn btn-primary" >Mini Mike Standings</button>  
    </form>
    <form style="margin: 8px;" action="/standings/championshipsunday" action="GET">
      <button type="submit" class="btn btn-primary" >Final Day Standings!</button>  
    </form>
    <form style="margin: 8px;" action="/scoring">
      <button type="submit" class="btn btn-primary" >Score for a group</button>  
    </form>
  </div>
  <div class="col-md-1"></div>
</div>  
  <script>
    $(document).ready(function(){  
      GetLeagueTableData();
});

function GetLeagueTableData (){ 
        $.ajax({
      url: "/api/AGTGolfLads/leagueScores",
      success: function( result ) {
        populateLeagueTable(result);
      },
      error: function (err) {
        alert(err.error.toString());
        console.log(err.error);
      }
    });
  }
function populateLeagueTable(tableData) {
  $('#leagueTable').empty();
    for (var indx in tableData) {
      $('#leagueTableBody').append('<tr>');
      $('#leagueTableBody').append('<th scope="row" style="text-align:center"><b>' + tableData[indx].Position + '</b></th>');
      $('#leagueTableBody').append('<td><a href=profiles/profile/' + tableData[indx].PlayerID + '>'  + tableData[indx].PlayerName + '</a></td>');
      $('#leagueTableBody').append('<td style="text-align:center"><small class="hideOnMobile" >' + tableData[indx].RoundOneStrokes + ': </small><b>' + tableData[indx].RoundOnePoints + '</b></td>');
      $('#leagueTableBody').append('<td style="text-align:center"><small class="hideOnMobile">' + tableData[indx].RoundTwoStrokes + ' : </small><b>' + tableData[indx].RoundTwoPoints + '</b></td>');
      $('#leagueTableBody').append('<td style="text-align:center"  class="hideOnMobile">' + tableData[indx].StrokesPlayed + '</td>');
      $('#leagueTableBody').append('<td style="text-align:center">' + tableData[indx].StablefordPoints + '</td>');
      $('#leagueTableBody').append('<td style="text-align:center" class="hideOnMobile">' + tableData[indx].HolesPlayed + '</td>');
      $('#leagueTableBody').append('</tr>');
    }
}
  </script>