.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family:NanumGothicRegular;
    }
    
    .title {
    color: black;
    font-size: 18px;
    }

    .quote{
      color: grey;
      font-size: 18px;
      text-align: center;
      margin-left: 24px;
      margin-right: 24px;
    }

    .header {
      font-size: 24px;
      text-align: center;
      margin: 16px;
    }
    
    button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    }

    .leagueTitleHeader{
      text-align: center;
      margin: 8px; 
      color:rgb(3, 3, 94);
      
    }

    .compIntro{
      width : 100%;
      color: rgb(3, 3, 94);
      font-weight: bold;
      margin-top: 10px;
    }

    .holeIntro{
      text-align: center; 
      width : 100%;
      color: rgb(3, 3, 94);
      font-weight: bold;
    }
    
    a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    }
    
    button:hover, a:hover {
    opacity: 0.7;
    }


    .gallery-block{
      padding-bottom: 60px;
      padding-top: 60px;
    }
    
    .gallery-block .heading{
        margin-bottom: 50px;
        text-align: center;
    }
    
    .gallery-block .heading h2{
        font-weight: bold;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    
    .gallery-block.cards-gallery h6 {
      font-size: 17px;
      font-weight: bold; 
    }
    
    .gallery-block.cards-gallery .card{
      transition: 0.4s ease; 
    }
    
    .gallery-block.cards-gallery .card img {
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
    }
    
    .gallery-block.cards-gallery .card-body {
      text-align: center; 
    }
    
    .gallery-block.cards-gallery .card-body p {
      font-size: 15px; 
    }
    
    .gallery-block.cards-gallery a {
      color: #212529; 
    }
    
    .gallery-block.cards-gallery a:hover {
      text-decoration: none; 
    }
    
    .gallery-block.cards-gallery .card {
      margin-bottom: 30px; 
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    }
    
    @media (min-width: 576px) {
    
      .gallery-block .transform-on-hover:hover {
          transform: translateY(-10px) scale(1.02);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
      }
    }




    @media screen and (max-width: 768px) {
        .hideOnMobile {
          visibility: hidden;
          clear: both;
          float: left;
          margin: 10px auto 5px 20px;
          width: 28%;
          display: none;
        }

      }

      @media screen and (max-width: 990px) {
        td {
          font-size: small;
        }
        a {
            font-size: small;
        }
        th {
            font-size: small;
        }
        h1{
            font-size: small;
        }
        h3{
          font-size: small;
        }
        .title{
          font-size: small;
        }
        .header {
          font-size: 20px;
        }
        
      }
